{% extends 'base.html' %}
{% block title %}Edit Student{% endblock %}
{% block header %}Edit Student Details{% endblock %}

{% block content %}
<div class="bg-card text-main rounded-xl shadow p-8 w-full max-w-md mx-auto border border-main">
  <form method="post" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
      class="bg-primary hover:bg-primary/90 text-white font-semibold py-2.5 rounded-lg shadow-md transition-all duration-300 w-full">
      Save Changes
    </button>
  </form>
</div>
{% endblock %}
